{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="
                {% if 'placeholder' in post.featured_image.url %}
                {% static 'images/somali_food.jpg' %}
                {% else %} {{ post.featured_image.url }}
                {% endif %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>

    <!-- Buttons for managing the post -->
    {% if user.is_authenticated and user.pk == post.author.pk %}
    <div class="row mb-4">
        <div class="col">
            {% if post.status == 0 %}
            <form action="{% url 'post_publish' post.slug %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Publish</button>
            </form>
            {% endif %}
            <a href="{% url 'post_update' post.slug %}" class="btn btn-warning">Edit</a>
            <form action="{% url 'post_delete' post.slug %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments {% if not comment.approved and comment.author.pk == user.pk %}faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        <strong>{{ comment.author }}</strong>
                        <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                    {% if not comment.approved and comment.author.pk == user.pk %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}

                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                    <form action="{% url 'comment_delete' comment.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete btn-sm">Delete</button>
                    </form>
                    {% endif %}

                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                        <a href="{% url 'comment_edit' comment.id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% endif %}

                    {% if user.is_authenticated and user.pk == comment.post.author.pk and not comment.approved %}
                    <form action="{% url 'approve_comment' comment.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Approve Comment</button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <h3>{% if editing_comment %}Edit your comment:{% else %}Leave a comment:{% endif %}</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post"
                          action="{% if editing_comment %}{% url 'comment_edit' editing_comment.id %}{% else %}{% url 'add_comment' pk=post.pk %}{% endif %}"
                          style="margin-top: 1.3em;">

                        {{ comment_form | crispy }}

                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
                            {% if editing_comment %}Update{% else %}Submit{% endif %}
                        </button>
                        {% if editing_comment %}
                            <a href="{% url 'post_detail' post.slug %}" class="btn btn-secondary btn-lg">Cancel</a>
                        {% endif %}
                    </form>
                {% else %}
                    <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}